
body {
    text-align: center;
    font-size: 13px;
    background: #818181;
}
.clearfix {
    display: block;
    content: '';
    clear: both;
}
.clearfix:after {
    zoom: 1;
}
/*.container {*/
#app {
    /* position: absolute;
    right: 100px; */
    width: 252px;
    height: 420px;
    margin: 0px auto;
    padding: 0 24px;
    background: #dfd8d0;
    border-radius: 20px;
    border: 5px solid #908B85;
    box-shadow: 0px 5px 40px black;
}
h2 {
    height: 57px;
    line-height: 57px;
    margin: 0;
    font-size: 12px;
}
.middle {
    width: 250px;
    height: 54px;
    padding-top: 9px;
    margin: 0px auto;
    margin-bottom: 8px;
    background: #c3c2ab;
    border: 2px solid #b4b39d;
    border-radius: 10px;
}
.middle input {
    display: block;
    width: 240px;
    padding-right: 10px;
    border: 0;
    background: #c3c2ab;
    text-align: right;

    height: 33px;
    line-height: 33px;
    font-size: 35px;
    color: #333;
}

.bottom {
    overflow: hidden;
}
.bottom .left {
    width: 198px;
    float: left;
    
}
.bottom .right {
    width: 50px;
    float: left;
}
.bottom span {
    float: left;
    width: 50px;
    height: 44px;
    line-height: 44px;
    background: #3a3a3a;
    margin: 0 16px 10px 0;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0px 3px 0px 0px #222121, inset -1px -3px 10px 1px #515151;
}
span:active {
    transform: translate(0px, 3px);
}
span.clear {
    background: #a72d45;
}
span.equal {
    width: 50px;
    height: 95px;
    line-height: 104px;
}
.left span.zero {
    width: 116px;
    height: 44px;
}

